{% extends 'base.html' %}

{% block title %}
    {{object}}
{% endblock  %}


{% block content %}


{% for product in object.category.all %}
{% if product.id|divisibleby:2 %}
<section class="about_sectio layout_padding my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="">
                    <img style="width: 100%;"
                        src="{{product.thumb.url}}"
                        alt=""
                    />
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <div class="detail-box">
                    <div class="heading_container my-4">
                        <h2 class="text-secondary">{{product.title}}</h2>
                    </div>
                    <p class="">
                        {{product.body}}
                    </p>
                </div>
                <a href="{{product.get_absolute_url}}" class="btn btn-success rounded-pill">Read More</a>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="about_sectio layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6  my-auto">
                <div class="detail-bo ">
                    <div class="heading_container my-4">
                        <h2 class="text-secondary"> {{product.title}} </h2>
                    </div>
                    <p>
                        {{product.body}}
                    </p>
                    <a href="{{product.get_absolute_url}}" class="btn btn-success rounded-pill">Read More</a>

                </div>
            </div>
            <div class="col-md-6">
                <div class="img-bo">
                    <img
                    style="width: 100%;"
                        src="{{product.thumb.url}}"
                        alt=""
                    />
                </div>
            </div>

        </div>
    </div>
</section>
{% endif %}
{% endfor %}


{% endblock  %}

